In [1]:
#How-to-count-distance-to-the-previous-zero
import numpy as np
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
izero = np.r_[-1, (df['X'] == 0).nonzero()[0]] # indices of zeros
idx = np.arange(len(df))
df['Y'] = idx - izero[np.searchsorted(izero - 1, idx) - 1]
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

In [2]:
#Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.
dti = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B') 
s = pd.Series(np.random.rand(len(dti)), index=dti)
s

2015-01-01    0.116172
2015-01-02    0.571880
2015-01-05    0.768364
2015-01-06    0.563939
2015-01-07    0.480119
2015-01-08    0.365442
2015-01-09    0.307395
2015-01-12    0.070007
2015-01-13    0.493038
2015-01-14    0.049012
2015-01-15    0.710144
2015-01-16    0.358836
2015-01-19    0.486831
2015-01-20    0.235019
2015-01-21    0.518924
2015-01-22    0.388526
2015-01-23    0.311136
2015-01-26    0.075212
2015-01-27    0.819775
2015-01-28    0.914105
2015-01-29    0.719189
2015-01-30    0.895179
2015-02-02    0.857479
2015-02-03    0.089349
2015-02-04    0.681281
2015-02-05    0.513467
2015-02-06    0.424120
2015-02-09    0.783802
2015-02-10    0.182968
2015-02-11    0.283898
                ...
2015-11-20    0.254688
2015-11-23    0.639041
2015-11-24    0.318905
2015-11-25    0.829388
2015-11-26    0.637061
2015-11-27    0.436485
2015-11-30    0.238208
2015-12-01    0.098202
2015-12-02    0.175376
2015-12-03    0.870429
2015-12-04    0.012842
2015-12-07    0.511820
2015-12-08    0.444032
2015-12-09    0.631438
2015-12-10    0.127555
2015-12-11    0.853910
2015-12-14    0.394929
2015-12-15    0.932417
2015-12-16    0.359839
2015-12-17    0.813008
2015-12-18    0.122619
2015-12-21    0.633859
2015-12-22    0.546690
2015-12-23    0.373890
2015-12-24    0.420147
2015-12-25    0.141275
2015-12-28    0.460467
2015-12-29    0.719146
2015-12-30    0.088769
2015-12-31    0.309012
Freq: B, Length: 261, dtype: float64

In [3]:
#Find the sum of the values in s for every Wednesday
s[dti.weekday == 2].sum()

27.54868879077261

In [4]:
#Average For each calendar month
s.resample('M', how='mean')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()

2015-01-31    0.464466
2015-02-28    0.532375
2015-03-31    0.532225
2015-04-30    0.547691
2015-05-31    0.556401
2015-06-30    0.583191
2015-07-31    0.504906
2015-08-31    0.427270
2015-09-30    0.410523
2015-10-31    0.521671
2015-11-30    0.478254
2015-12-31    0.436594
Freq: M, dtype: float64

In [5]:
#For each group of four consecutive calendar months in s, find the date on which the highest value occurred.
s.groupby(pd.TimeGrouper('4M')).idxmax()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)

2015-01-31   2015-01-28
2015-05-31   2015-02-13
2015-09-30   2015-07-23
2016-01-31   2015-10-07
dtype: datetime64[ns]